---
import RootLayout from "../layouts/RootLayout.astro";


const email = Astro.cookies.get('data')?.json().email;

if (!email) Astro.redirect('/');

---

<RootLayout>
  <div class="flex success-container">
    <div>
      <img
        class="icon__success"
        src="/images/icon-success.svg"
        alt="Success!"
      />
    </div>
    <h1>Thanks for subscribing!</h1>
    <p>
      A confirmation email has been sent to <b>{email}</b>. Please open it
      and click the button inside to confirm your subscription
    </p>
    <button class="push-to-bottom">Dismiss message</button>
  </div>
</RootLayout>
